

.container {
  background-color: #451468;
  opacity: 0.9;
  padding:15px;
  color:white;
  width: 280px;
  display: inline-block;
  position: absolute;
  top: 50px;
  left:50px;
  /* border-style: solid;
  border-width: 1px;
  border-color: white; */
}
